body {
    background-color: burlywood;
    font-size: 25px;
    margin: 0px;
    padding: 0;
}

nav {
    background-color: cadetblue;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

a:hover {
    color: white;
    transition: all 0.3s ease-out;
}

@media(max-width:630px) {
    nav {
        height: 250px;
        text-align: center;
        flex-direction: column;
    }
    a:hover {
        background-color: black;
    }
}